/** Colors for solid icons. */
.fa-heart, .fa-heart-o, .fa-heartbeat,
.bi-heart-fill, .bi-heart-half, .bi-heart {
  color: red;
}

.fa-heart:hover, .fa-heart-o:hover, .fa-heartbeat:hover,
.bi-heart-fill:hover, .bi-heart-half:hover, .bi-heart:hover {
  color: inherit;
}

.fa-star, .fa-star-half, .fa-star-half-empty, .fa-star-half-full, .fa-star-half-o, .fa-star-o,
.bi-star-fill, .bi-star-half, .bi-star {
  color: #FFA41C;
}

.fa-star:hover, .fa-star-half:hover, .fa-star-half-empty:hover, .fa-star-half-full:hover, .fa-star-half-o:hover, .fa-star-o:hover,
.bi-star-fill:hover, .bi-star-half:hover, .bi-star:hover {
  color: inherit;
}
